<section>
      <%- include('../layout/msg'); -%>
            <% arrPet.forEach(data=>{%>
                  <div class="profile-card">
                        <div class="profile-image">
                              <img src="data:image/png;base64, <%= data.img %>" />
                        </div>
                        <% console.log(data) %>
                              <div class="profile-info">
                                    <div class="top-info">
                                          <h2>
                                                <%= data.nome_pet, data.idade %>
                                          </h2>
                                          <p class="location">📍 <%= data.cidade %>
                                          </p>
                                    </div>



                                    <div class="caracteristicas">
                                          <p><strong>Caracteristicas:</strong>
                                                <%= data.caracteristica %>
                                          </p>
                                          <p><strong>Distância:</strong>
                                                <%= data.distancia %>
                                          </p>
                                    </div>
                              </div>

                              <div class="botoes">

                                   


                                    <a href="https://wa.me/55<%= data.telefone.replace(/[()\s-]/g,'')%>?text=ola!gostaria de adotar seu pet <%= data.nome_pet %> que localizei na plataforma aventura-pet" 
                                       id="send" 
                                       target="_blank" 
                                       class="btn send"><img src="/img/logo-whatsapp.svg" alt=""></a>

                              </div>
                  </div>
                  <%})%>
                        
</section>
