<%- include('../layout/head'); -%><!--cabeçalho configuração publico e geral-->
    <%- include('head'); -%><!--cabeçalho configuracao da pagina-->
<%- include('../layout/body'); -%>   <!--inicio do corpo html-->
    <%- include('header'); -%><!--cabeçalho html da pagina-->
    <div class="dashboard-container">
        
            <div class="menu-section">
                <%- include(fileName.menu); -%>
            </div>
     
       
        <div class="pet-section">
           
               <% if("section" in fileName) {%>
                    <%- include(fileName.section) %> 
                <%}%>
            
        </div>
    </div>
    <%- include('footer'); -%><!--roda pé  da pagina-->
<%- include('../layout/footer'); -%><!--roda pé public da pagina-->
